// ==|== media queries ======================================================
// PLACEHOLDER Media Queries for Responsive Design.
// These override the primary ('mobile first') styles
// Modify as content requires.
// ========================================================================== */

@media only screen and (min-width: 50em) {
  /* Style adjustments for viewports 480px and over go here */
	#top {
		margin-right: -3em;
	}
	header {
		text-align: left;
		.wrap {
	        -webkit-flex-flow: row;
	        -moz-flex-flow: row;
	        flex-flow: row;
	    }
	}
	nav.menu {
	    ul.nav {
	        -webkit-flex-flow: row;
	        -moz-flex-flow: row;
	        flex-flow: row;
	    }
	}


	.threemusketeers>.wrap {
	    display: -webkit-flex;
	    -webkit-justify-content: space-between;
	    display: -moz-flex;
	    -moz-justify-content: space-between;
	    display: flex;
	    justify-content: space-between;
	    >* {
	        display: block;
	        width: 33%;
	        &:not(:first-child) {
	        	padding-left: 0.5em
	        }
	        &:not(:last-child) {
	        	padding-right: 0.5em
	        }
	    }
	}
	footer {
		text-align: left;
	    ul.nav, .wrap {
	        -webkit-flex-flow: row-reverse;
	        -moz-flex-flow: row-reverse;
	        flex-flow: row-reverse;
        }
        ul.nav {
	        max-width: 80%;
	        -webkit-flex: 1;
	        -moz-flex: 1;
	        flex: 1;
        }
    }

}

@media only screen and (min-width: 60em) {
  /* Style adjustments for viewports 768px and over go here */
	    nav.menu li.item:not(:first-child) {
            &:before {
                content: '\274B'; // SOOOO Adobe doesn't allow Poetica as a webfont :c
                display: inline-block;
                position: relative;
                left: -2em;
            }
        }

}



// ==|== print styles =======================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// ========================================================================== */

@media print {
	a[href]:after {
		content: " ["attr(href)"]";
	}
}